.block-title {
  position: relative;
  cursor: pointer;
}

.block-title .block-title__icon  {
  opacity: 0 !important; /* Иконка скрыта по умолчанию */
  visibility: hidden !important; /* Полностью убирает элемент из потока */
  transition: opacity 0.3s ease, visibility 0.3s ease !important; /* Плавное появление */

}

.block-title:hover .block-title__icon {
  opacity: 1 !important; /* Иконка становится видимой */
  visibility: visible !important;
}

.tasks-tab-board:hover + .tasks-actions-board {
  visibility: visible !important;
}

.task-list {
    min-height: 150px;
}

.empty-column {
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    border: 2px dashed #ddd;
    border-radius: 8px;
    pointer-events: none;
}