{% extends "base_auth.html" %}
{% load static %}
{% block title %}DailyHub | Сброс пароля{% endblock %}
{% block content %}
<div class="card card-md">
    <div class="card-body">
        <h2 class="h2 text-center mb-2">
            Сброс пароля
        </h2>
        <p class="text-center mb-4">
            Мы отправили вам инструкции по электронной почте по установке
            пароля. Если вы не получили письмо, убедитесь, что вы ввели адрес, 
            с которым зарегистрировались. 
            Можете снова <a href="{% url 'account:login' %}">войти в систему</a>.
        </p>
    </div>
</div>
{% endblock %}
