{% extends "base.html" %}
{% load static %}
{% block title %}DailyHub | Изменение пароля{% endblock %}
{% block content %}
<div class="container-xl">
    <div class="row">
        <div class="">
            <div class="card card-md">
                <div class="card-body col-6 align-self-center">
                    <h2 class="h2 text-center mb-2">Изменение пароля</h2>
                    <p class="text-center mb-4">
                        Можете поменять пароль с помощью формы ниже. 
                    </p>
                    <form action="{% url 'account:password_change' %}" method="post" autocomplete="off" novalidate="">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                            </div>

                            {% if field.help_text %}
                                <div class="form-hint">
                                    {{ field.help_text|safe }}
                                </div>
                            {% endif %}

                            {% for error in field.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
