{% extends "base_auth.html" %}
{% load static %}
{% block title %}DailyHub | Сброс пароля{% endblock %}
{% block content %}
<div class="card card-md">
    <div class="card-body">
        <h2 class="h2 text-center mb-2">
            Сбросьте ваш пароль
        </h2>
        {% if validlink %}
            <p>Пожалуйста, подтвердите ваш новый пароль.</p>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}    
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    </div>

                    {% if field.help_text %}
                        <div class="form-hint">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}

                    {% for error in field.errors %}
                        <div class="invalid-feedback d-block">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Подтвердить</button>
                </div>
            {% else %}
            <p class="text-center mb-4">
                Ссылка для сброса пароля недействительна — возможно, она уже была использована. Пожалуйста, запросите сброс пароля снова.
            </p>
            <a href="{% url 'account:login' %}">Вход в систему</a>
        {% endif %}
    </div>
</div>
{% endblock %}
