{% extends "base_auth.html" %}
{% load static %}
{% block title %}DailyHub | Регистрация{% endblock %}
{% block content %}
<div class="card card-md">
    <div class="card-body">
        <h2 class="h2 text-center mb-2">
            Регистрация
        </h2>
        <p class="text-center mb-4">
            Зарегистрироваться можно здесь, <br>
            воспользовавшись формой регистрации ниже.
        </p>
        <form method="post" autocomplete="off" novalidate="">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            
            <!-- Перебор стандартных полей (имя, email, пароли) -->
            {% for field in form %}
                {% if field.name != 'agree_to_terms' %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <!-- Отдельный красивый вывод чекбокса безопасности -->
            <div class="form-check mb-4">
                {{ form.agree_to_terms }}
                <label class="form-check-label" for="{{ form.agree_to_terms.id_for_label }}">
                    {{ form.agree_to_terms.label }}
                </label>
                {% if form.agree_to_terms.errors %}
                    <div class="text-danger">{{ form.agree_to_terms.errors }}</div>
                {% endif %}
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
