<div class="card bg-light border-0">
    <div class="card-body">

        <form
            hx-post="{% url 'tasks:create_checklist' task_id=task.id %}"
            hx-target="#task-checklist-content"
            hx-swap="innerHTML"
        >
            {% csrf_token %}

            <label class="form-label fw-semibold">
                Название чеклиста
            </label>

            <div class="input-group">

                <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Например, Подготовка к релизу"
                    autofocus
                >

                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Создать
                </button>

                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    hx-get="{% url 'tasks:clear_checklist_form' %}"
                    hx-target="#task-checklist-content"
                    hx-swap="innerHTML"
                >
                    Отмена
                </button>
            </div>
        </form>
    </div>
</div>
