<div class="card bg-light border-0">
    <div class="card-body">
        <form
            hx-post="{% url 'tasks:create_checklist' task_id=task.id %}"
            hx-target="#task-checklist-create-form"
            hx-swap="innerHTML"
        >
            {% csrf_token %}

            <div class="input-group">
                {{ form.name }}

                <button type="submit" class="btn btn-primary">
                    Создать
                </button>

                <button
                    type="button"
                    class="btn btn-outline-secondary"
                    hx-get="{% url 'tasks:clear_modal' %}"
                    hx-target="#task-checklist-create-form"
                    hx-swap="innerHTML"
                >
                    Отмена
                </button>
            </div>
        </form>
    </div>
</div>
