<div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form hx-post="{% if is_new %}{% url 'tasks:create_task' column_id=column.id %}{% else %}{% url 'tasks:edit_task' task_id=task.id %}{% endif %}" 
                hx-target="#modal-edit-task-container" 
                hx-swap="innerHTML">
                {% csrf_token %}

                <div class="modal-header">
                    <h3 class="modal-title">
                        {% if is_new %}
                            Создание задачи
                        {% else %}
                            Редактирование задачи
                        {% endif %}
                    </h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label required">{{ form.title.label }}</label>
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="{% if form.instance.pk %}mb-3{% endif %} col ">
                            <label class="form-label">{{ form.column.label }}</label>
                            {{ form.column }}
                            {{ form.column.errors }}
                        </div>
                        
                        <div class="mb-3 col{% if not form.instance.pk %}-12{% endif %}">
                            <label class="form-label">{{ form.deadline.label }}</label>
                            {{ form.deadline }}
                            {{ form.deadline.errors }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">{{ form.description.label }}</label>
                            {{ form.description }}
                            {{ form.description.errors }}
                        </div>

                        <hr>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <div id="task-checklist">
                                {% if not is_new %}
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <h4 class="mb-0">Чеклист</h4>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-primary"
                                            hx-get="{% url 'tasks:create_checklist' task_id=task.id %}"
                                            hx-target="#task-checklist-content"
                                            hx-swap="innerHTML"
                                        >
                                            + Добавить чеклист
                                        </button>
                                    </div>

                                    <div id="task-checklist-content">
                                        {% for checklist in task.checklists.all %}
                                            {% include "tasks/partials/checklist.html" %}
                                        {% empty %}
                                            <div class="text-muted small">
                                                Чеклист пока не создан
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="text-muted small">
                                        Сначала сохраните задачу, чтобы добавить чеклист.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Цвет карточки</label>
                            <div class="d-flex flex-wrap gap-2">
                                <label class="form-colorinput form-colorinput-light">
                                    <input type="radio" name="color" value="#ffffff"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == '#ffffff' %}checked{% else %}notchecked{% endif %}>
                                    <span class="form-colorinput-color bg-white border"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#0d6efd"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#0d6efd" %}checked{% endif %}>
                                        <span class="form-colorinput-color bg-blue"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#198754"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#198754" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-green"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#ffc107"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#ffc107" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-yellow"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#dc3545"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#dc3545" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-red"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#6f42c1"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#6f42c1" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-purple"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#fd7e14"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#fd7e14" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-orange"></span>
                                </label>

                            </div>
                        </div>
                    </div>
                    
                    
                    {% comment %} <div class="form-check mb-4">
                        {{ form.is_archived }}
                        <label class="form-check-label">
                            Архивировать задачу
                        </label>
                    </div> {% endcomment %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn me-auto"
                        hx-get="{% url 'tasks:clear_modal' %}"
                        hx-target="#modal-edit-task-container"
                        hx-swap="innerHTML">
                        Выход
                    </button>
                    <button type="submit" class="btn btn-primary ms-4">
                        Сохранить изменения
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>