{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{%block title %}
    {% if form.instance.pk %}
        Редактирование задачи
    {% else %}
        Создание задачи
    {% endif %}
{% endblock %}
{% block content %}
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <form method="post" action="" class="card">
                {% csrf_token %}

                <div class="card-header">
                    <h3 class="card-title">
                        {% if form.instance.pk %}
                            Редактирование задачи
                        {% else %}
                            Создание задачи
                        {% endif %}
                    </h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label required">{{ form.title.label }}</label>
                            {{ form.title }}
                            {{ form.title.errors }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="{% if form.instance.pk %}mb-3{% endif %} col ">
                            <label class="form-label">{{ form.column.label }}</label>
                            {{ form.column }}
                            {{ form.column.errors }}
                        </div>
                        
                        <div class="mb-3 col{% if not form.instance.pk %}-12{% endif %}">
                            <label class="form-label">{{ form.deadline.label }}</label>
                            {{ form.deadline }}
                            {{ form.deadline.errors }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label">{{ form.description.label }}</label>
                            {{ form.description }}
                            {{ form.description.errors }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col">
                            <label class="form-label">Цвет карточки</label>
                            <div class="d-flex flex-wrap gap-2">
                                <label class="form-colorinput form-colorinput-light">
                                    <input type="radio" name="color" value="#ffffff"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == '#ffffff' %}checked{% else %}notchecked{% endif %}>
                                    <span class="form-colorinput-color bg-white border"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#0d6efd"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#0d6efd" %}checked{% endif %}>
                                        <span class="form-colorinput-color bg-blue"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#198754"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#198754" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-green"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#ffc107"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#ffc107" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-yellow"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#dc3545"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#dc3545" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-red"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#6f42c1"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#6f42c1" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-purple"></span>
                                </label>

                                <label class="form-colorinput">
                                    <input type="radio" name="color" value="#fd7e14"
                                        class="form-colorinput-input" 
                                        {% if form.color.value|lower == "#fd7e14" %}checked{% endif %}>
                                    <span class="form-colorinput-color bg-orange"></span>
                                </label>

                            </div>
                        </div>
                    </div>
                    
                    
                    {% comment %} <div class="form-check mb-4">
                        {{ form.is_archived }}
                        <label class="form-check-label">
                            Архивировать задачу
                        </label>
                    </div> {% endcomment %}
                </div>

                <div class="card-footer text-end">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="{% url 'tasks:index' %}?board={{ board_id }}" class="btn btn-link link-secondary btn-3"> Выход </a>
                        <button type="submit" class="btn btn-primary ms-4">
                            Сохранить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}